/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 *
 * CSS Stylesheet for the attachment popup.
 *
 * author: yurize@apache.org (Yuri Zelikov)
 */

.self {
	margin: 0px;
	line-height: 1.5;
	overflow: hidden;
}

.title {
	font-size: 15px;
	whitespace: nowrap;
	color: #0077b6;
	margin-left: 5px;
}

.spinnerPanel {
	margin-top: 8px;
	text-align: center;
}

.spinner {
	margin: 3px 5px 0 0;
}

.status {
	font-size: 13px;
	whitespace: nowrap;
	margin-top: 0;
}

.error {
	color: #d93025;
}

.done {
	color: #188038;
}

.hiddenFileInput {
	position: absolute;
	left: -9999px;
	top: -9999px;
	opacity: 0;
	width: 0;
	height: 0;
}
